
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Product
            </a>
        </div>
    </div>
</div>
<br /> 
<<<<<<< HEAD
<table id="tblData" class="table table-bordered table-striped" style="width:100%">
=======
<table class="table table-bordered table-striped" style="width:100%">
>>>>>>> 3de820c21389c1c2b5f339a188b16277d9983ee0
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
   
<<<<<<< HEAD
</table>

<!--Now we need to call our API to load data that we have inside 
the index view for our product. 
We will be adding a JavaScript file for that
-->
@section Scripts{
    <script src="~/js/product.js"></script>
}
=======
</table>
>>>>>>> 3de820c21389c1c2b5f339a188b16277d9983ee0
